/* General */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 229, 229);
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
    font-weight: bold; 
    color: #333;
    min-width: 1500px;
    
}

h1 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    min-width: 800px;
}

nav {
    display: flex;
    gap: 20px;
    font-size:large;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.user-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* opcional, si quieres que se vea redondo */
    object-fit: cover;
}

/* Contenedor del mapa */
.map-container {
    position: relative;
    width: 100vw; /*coupa todo el ancho de pantalla*/
    height: 91.9vh; /*coupa todo el alto de pantalla*/
    min-width: 1600px;
}

.map_china {
    width: 95%;
    height: 100%;
    border-radius: 5px;
    opacity: 89%;
}

/* Banderas como botones */
.img {
    position: absolute;
    width: 100px;
    transition: transform 0.2s ease-in-out;
}

.img img {
    width: 190%;
    border-radius: 5px;
    /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);*/
}

.img:hover {
    transform: scale(1.1);
}

.arbol { top: 20%; left: 43%; }
.arroz { top: 50%; left: 37%; }
.dragon { top: 54%; left: 10%; }
.flor { top: 27%; left: 10%; }
.lampara { top: 76%; left: 35%; }
.muralla { top: 30%; left: 33%; }
.panda { top: 42%; left: 19%; }
.platon { top: 64%; left: 45%; }
.sensei { top: 8%; left: 52%; }
.templo { top: 57%; left: 27%; }

.return-button {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    bottom: 30px;
    right: 60px;
    background-color: #f9c00d;
    color: rgb(25, 24, 24);
    padding: 12px 20px;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s ease;
    z-index: 10;
}

.return-button:hover {
    background-color: #e6ae00;
}

/* Moneda y dinero */
.currency {
    position: absolute; /* Lo mantiene dentro del mapa */
    bottom: 5%; /* Ajusta la posición vertical */
    left: 2%; /* Ajusta la posición horizontal */
    display: flex; /* Para alinear la moneda y el texto */
    align-items: center;
    /*background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 10px 15px;
    border-radius: 10px;
}

.currency img {
    width: 40px;
    height: auto;
    margin-right: 8px;
}

.currency {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 20px; /* Ajustado para pantalla completa */
    left: 20px;
    font-weight: bold;
    font-size: 1.3rem;
}
