/* General */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 229, 229);
}

  /* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
    font-weight: bold; 
    color: #333;
    min-width: 1500px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    min-width: 1000px;
}

nav {
    display: flex;
    gap: 20px;
    font-size:large;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.user-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* opcional, si quieres que se vea redondo */
    object-fit: cover;
}

.map-container {
    position: relative;
    width: 100vw;
    height: 92vh;
    min-width: 1600px;
}

.map_francia {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

  /* img como botones */
.img {
    position: absolute;
    width: 100px;
    transition: transform 0.2s ease-in-out;
}

.img img {
    width: 140px;
    border-radius: 5px;
}

.img:hover {
    transform: scale(1.1);
}

/* Posiciones afinadas */
.vino { top: 27%; left: 14%;  }
.arco { top: 33%; left: 24%; }
.torre { top: 9%; left: 26%; }
.iglesia { top: 20%; left: 35%; }
.croissant { top: 50%; left: 18%; }
.bolsa { top: 40%; left: 33%; }
.perfume { top: 56%; left: 28%; }
.scooter { top: 71%; left: 23%; }
.pan { top: 65%; left: 15%; }
.cupcake { top: 64%; left: 37%; }

.return-button {
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: -760px;
    right: 0px;
    left: 1500px;
    background-color: #f9c00d;
    color: rgb(25, 24, 24);
    padding: 12px 20px;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s ease;
    z-index: 10;
}

.return-button:hover {
    background-color: #e6ae00;
}


/* Moneda y dinero */
.currency {
    position: absolute; /* Lo mantiene dentro del mapa */
    bottom: 5%; /* Ajusta la posición vertical */
    left: 2%; /* Ajusta la posición horizontal */
    display: flex; /* Para alinear la moneda y el texto */
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
}

.currency img {
    width: 40px;
    height: auto;
    margin-right: 8px;
}
.currency {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 20px; /* Ajustado para pantalla completa */
    left: 20px;
    font-weight: bold;
    font-size: 1.3rem;
}
