/* General */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 229, 229);
  }
  
  /* Encabezado */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
    font-weight: bold; 
    color: #333;
    
  }
  
  h1 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    min-width: 700px;
  }
  
  nav {
    display: flex;
    gap: 20px;
    font-size:large;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  
  .user-icon {
    font-size: 21px;
    cursor: pointer;
  }
  
  /* Contenedor del mapa */
  .map-container {
    position: relative;
    width: 100vw; /*coupa todo el ancho de pantalla*/
    height: 91.9vh; /*coupa todo el alto de pantalla*/
    min-width: 1400px;
  }
  
  .map_mx {
    width: 90%;
    height: 100%;
    object-fit: cover; /*que la img cubra toda la pantalla*/
    border-radius: 5px;
  }
  
  /* Banderas como botones */
  .img {
    position: absolute;
    width: 100px;
    transition: transform 0.2s ease-in-out;
  }
  
  .img img {
    width: 140%;
    border-radius: 5px;
    /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);*/
  }
  
  .img:hover {
    transform: scale(1.1);
  }
  
  /* Posicionamiento de las banderas */
  .orca { top: 35%; left: 10%; }
  .carne { top: 17%; left: 16%; }
  .desierto { top: 26%; left: 27%; }
  .cactus { top: 45%; left: 26%; }
  .industria { top: 29%; left: 40%; }
  .cascada { top: 50%; left: 37%; }
  .tequila { top: 63%; left: 29%; }
  .mosaico { top: 69%; left: 40%; }
  .queso { top: 82%; left: 48%; }
  .maracas { top: 83%; left: 59%; }
  .pyramid { top: 62%; left: 69%; }
  
  .return-button {
    position: absolute;
    bottom: 30px;
    right: 60px;
    background-color: #f9c00d;
    color: rgb(25, 24, 24);
    padding: 12px 20px;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s ease;
    z-index: 10;
}

.return-button:hover {
    background-color: #e6ae00;
}

  /* Moneda y dinero */
  .currency {
    position: absolute; /* Lo mantiene dentro del mapa */
    bottom: 5%; /* Ajusta la posición vertical */
    left: 2%; /* Ajusta la posición horizontal */
    display: flex; /* Para alinear la moneda y el texto */
    align-items: center;
    /*background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 10px 15px;
    border-radius: 10px;
  }
  
  .currency img {
    width: 40px;
    height: auto;
    margin-right: 8px;
  }
  
  .currency {
    position: absolute;
    bottom: 20px; 
    left: 20px;
    font-weight: bold;
    font-size: 1.2rem;
  }