html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 229, 229);
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
    font-size: large;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.return-button {
    position: absolute;
    bottom: 30px;
    right: 50px;
    background-color: #f9c00d;
    color: rgb(25, 24, 24);
    padding: 12px 20px;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s ease;
    z-index: 10;
}

.return-button:hover {
    background-color: #e6ae00;
}

.user-icon {
    font-size: 21px;
    cursor: pointer;
}

.map-container {
    position: relative;
    width: 100vw;
    height: 91.9vh;
}

.map_mx {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.img {
    position: absolute;
    width: 140px;
    transition: transform 0.2s ease-in-out;
}

.img img {
    width: 140px;
    height: auto;
    border-radius: 5px;
}

.img:hover {
    transform: scale(1.1);
}

/* Posiciones afinadas */
.bus { top: 54%; left: 36%;  }
.chips { top: 39%; left: 19%; }
.sherlok { top: 9%; left: 26%; }
.scotish { top: 24%; left: 26%; }
.money { top: 50%; left: 12%; }
.soldier { top: 38%; left: 34%; }
.tea { top: 53%; left: 19%; }
.telephone { top: 67%; left: 31%; }
.trebol { top: 64%; left: 14%; }
.bigben { top: 72%; left: 38%; }


.currency {
    position: absolute; /* Lo mantiene dentro del mapa */
    bottom: 5%; /* Ajusta la posición vertical */
    left: 2%; /* Ajusta la posición horizontal */
    display: flex; /* Para alinear la moneda y el texto */
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
}

.currency img {
    width: 50px;
    height: auto;
    margin-right: 8px;
}

.currency {
    position: absolute;
    bottom: 20px; 
    left: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
